@{
    ViewData["Title"] = "Artículos";
}


<div class="container " ng-controller="Articulos">
    <div class="row">
        <div class="col-12 p-5">
            <h2>Artículos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="input-group">


                        <input type="text" class="form-control campo-search " placeholder="Buscar Artículos" value="" autocomplete="off" ng-model="buscador" ng-change="cambioBuscador()">
                        <div class="input-group-append">
                            <button class="btn btn-default boton-buscar form-control-sm " type="submit" id="btn_buscar" tabindex="2" ng-click="activarBusqueda()">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-default boton-buscar form-control-sm btn-right" type="submit" id="btn_buscar" tabindex="2" ng-click="anularBusqueda()">
                                <i class="fas fa-ban"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @*<p>Use this area to provide additional information.</p>*@
            <div class="dx-viewport demo-container">

                <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="art" style="width:100% !important;">
                    <div data-options="dxTemplate:{ name:'cellTemplate' }">
                        <img class="img-fluid" ng-src="{{art.value}}" />

                    </div>
                    <div data-options="dxTemplate:{ name:'editTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="modificarArticulo(art)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>

                    </div>
                    <div data-options="dxTemplate:{ name:'deleteTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="eliminarRegistro(art)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Eliminar</button>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 offset-3 ">
            <div class="">
                <nav class="">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled" id="primera" ng-click="cambiarPagina(this, 'F')">
                            <a class="page-link"><i class="fa fa-step-backward fa-xs "></i><small style="font-size:72%">Primera</small> </a>
                        </li>
                        <li class="page-item" id="anterior" ng-click="cambiarPagina(this, 'P')">
                            <a class="page-link"><i class="fa fa-caret-left fa-xs "></i> <small style="font-size:72%"> anterior</small></a>
                        </li>
                        <li class="page-item" id="siguiente" ng-click="cambiarPagina(this, 'N')">
                            <a class="page-link"><small style="font-size:72%">siguiente</small>  <i class="fa fa-caret-right fa-xs "></i></a>
                        </li>
                        <li class="page-item" id="ultima" ng-click="cambiarPagina(this, 'L')">
                            <a class="page-link"><small style="font-size:72%">Última</small> <i class="fa fa-step-forward fa-xs "></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    @*POPUP EDITAR ARTICULOS*@
    <div dx-popup="popupOptions">
        <div class='popup-property-details' dx-scroll-view="scrollarticulos">
            <div class="row">
                <div class="col-12">
                    <fieldset disabled>
                        <div class="form-group row">
                            <label class="col-1 etiq-form text-right pr-0"> ARTÍCULO</label>
                            <div class="col-11">
                                <input type="text" ng-model="currentarticulo.descripcion" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <fieldset disabled>
                        <div class="form-group row">
                            <label class="col-2 etiq-form text-right pr-0">EUROCODE</label>
                            <div class="col-10"> <input type="text" class="form-control form-control-sm" /> </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 etiq-form text-right pr-0">CÓD. INTERNO</label>
                            <div class="col-10"> <input type="text" class="form-control form-control-sm" /> </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-2 etiq-form text-right pr-0">DESCRIP. CORTA</label>
                            <div class="col-10">  <input type="text" ng-model="currentarticulo.descripcionCorta" class="form-control form-control-sm" /> </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-6">
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="etiq-form">DESCRIP. DETALLADA </label>
                            <div class="col-12">
                                <textarea type="" ng-model="currentarticulo.descripcionDetallada" class="form-control form-control-sm" style="height:95px;"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12 row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label class="etiq-form col-2 pr-0 text-right">Descrip. Web1 </label>
                            <div class="col-10">
                                <input type="text" ng-model="currentarticulo.descripcionWeb1" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="etiq-form col-2 pr-0 text-right">Descrip. Web2 </label>
                            <div class="col-10">
                                <input type="text" ng-model="currentarticulo.descripcionWeb2" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label class="etiq-form col-2 text-right pr-0">CATEGORÍA</label>
                            <div class="col-10">
                                <div style="z-index:99999999;" dx-select-box="selectBox4" dx-item-alias="product" class="mb-1">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <label class="etiq-form col-2 text-right pr-0">TIPO</label>
                            <div class="col-10">
                                <div style="z-index:99999999;" dx-select-box="selectBox3" dx-item-alias="product" class="mb-1">
                                    <div data-options="dxTemplate: { name: 'field' }">
                                        <div class="custom-item">
                                            <img ng-src="{{product.ImageSrc}}" />
                                            {{product.descripcion}}
                                        </div>
                                    </div>
                                    <div data-options="dxTemplate: { name: 'item' }">
                                        <div class="custom-item">
                                            <div class="row">
                                                <div class="col-md-3"><img ng-src="{{product.url}}" style="width:50px" onerror="this.src='../images/imagen_defect.png'" /></div>
                                                <div class="col-md-3">
                                                    <div class="product-name">
                                                        {{product.descripcion}}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h4>Añadir accesorios</h4>
                </div>
                <div class="col-5">
                    <input type="submit" ng-click="anadirColumna()" />
                    <div id="gridContainer" dx-data-grid="dataGridCategorias" dx-item-alias="cat" style="width:100% !important;">

                        <div data-options="dxTemplate:{ name:'descriptionTemplate' }">
                            <div class="row">
                                <div class="col-6">
                                    <span ng-if="cat.value">
                                        {{cat.value}}
                                        

                                    </span>
                                    <div ng-hide="cat.value">
                                       
                                        <div style="z-index:99999999;" dx-select-box="SelectBoxCategs" dx-item-alias="product" class="mb-1">

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div data-options="dxTemplate:{ name:'deleteTemplate' }">

                            <button type="submit" ng-click="eliminarCategoria(cat)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Eliminar</button>

                        </div>
                        <div data-options="dxTemplate:{ name:'editTemplate' }">

                            <button type="submit" ng-click="mostrarArticulosCat(cat)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Ver Artículos</button>

                        </div>

                    </div>
                </div>
                <div class="col-5">
                    <div ng-hide="!selectedCat">

                        <h4>{{selectedCat.descripcion}} <input type="submit" ng-click="anadirColumnaArt()" /></h4>
                        <div id="gridContainer" dx-data-grid="dataGridArticulosCat" dx-item-alias="art" style="width:100% !important;">

                            
                            <div data-options="dxTemplate:{ name:'descriptionTemplate' }">
                                <div class="row">
                                    <div class="col-6">
                                        <span ng-if="art.value">
                                            {{art.value}}


                                        </span>
                                        <div ng-hide="art.value">
                                            <div style="z-index:99999999;height:30px" dx-select-box="selectoboxcat" dx-item-alias="product" class="mb-1">
                                                <div data-options="dxTemplate: { name: 'field' }">

                                                    <div dx-text-box="settingsboxAccesorios"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                            
                            <div data-options="dxTemplate:{ name:'deleteTemplate' }">

                                <button type="submit" ng-click="eliminarArticulos(art)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Eliminar</button>

                            </div>


                        </div>
                        
                    </div>
                </div>
            </div>







            <div class="row">
                <div class="row align-items-end">
                    <div class="col text-right">
                        <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>
                        <button class="btn btn-danger" type="submit" value="Guardar cambios" ng-click="cancelarCambios()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






