@{
    ViewData["Title"] = "Tipo de Carrocería";
}


<div class="container " ng-controller="Carrocerias">
    <div class="row">
        <div class="col-12 p-5">
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @*<p>Use this area to provide additional information.</p>*@
            <div class="row mb-4">
                <div class="col-6">
                    <div class="dataTables_wrapper">
                        <div class="dataTables_paginate" style="float:left">
                            <ul class="pagination">
                                <li class="page-item" id="primera" ng-click="cambiarPagina(this, 'F')">
                                    <a class="page-link"><i class="fa fa-step-backward "></i> Primera</a>
                                </li>
                                <li class="page-item" id="anterior" ng-click="cambiarPagina(this, 'P')">
                                    <a class="page-link"><i class="fa fa-caret-left "></i> anterior</a>
                                </li>
                                <li class="page-item" id="siguiente" ng-click="cambiarPagina(this, 'N')">
                                    <a class="page-link"> siguiente <i class="fa fa-caret-right "></i></a>
                                </li>
                                <li class="page-item" id="ultima" ng-click="cambiarPagina(this, 'L')">
                                    <a class="page-link">Última <i class="fa fa-step-forward "></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="col-6 text-right">
                    @*<input type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" />*@
                    <button  type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" class="btn btn-primary"><i class="fas fa-plus-square"></i> Añadir nuevo Tipo</button>
               </div>
            </div>
                <div class="dx-viewport demo-container">
                    <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="carroceria" style="width:100% !important;">
                        <div data-options="dxTemplate:{ name:'cellTemplate' }">
                            <img class="img-fluid" ng-src="{{carroceria.value}}" />

                        </div>
                        <div data-options="dxTemplate:{ name:'editTemplate' }">

                            @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                            <button type="submit" ng-click="modificarCarroceria(carroceria)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>

                        </div>

                    </div>
                </div>
           
        </div>
    </div>
   @*POPUP EDITAR/CREAR CARROCERIAS*@
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="form">
                <div class="form-group">
                    <label>Descripción </label>
                    <div class="col-12">
                        <input type="text" ng-model="currentcarroceria.descripcion" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">Descripción de la carrocería</small>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control campo-search " ng-blur="focofuera()" ng-focus="entrafoco()" placeholder="Buscar tipo de vidrio" value="" id="busqueda_producto" tabindex="1" autocomplete="off" ng-change="cambiobusqueda()" ng-model="cadena" name="producto">
                    <span class="input-group-btn">
                        <button class="btn btn-default boton-buscar" type="submit" id="btn_buscar" tabindex="2">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>

                </div>
                <div class="desplegable" style="display:none" id="desplegable" ng-hide="!mostrardesplegable">
                <table class="tablaresultados">
                    <tbody>
                        <tr ng-if="!loading" class="" ng-repeat="resultado in resultadobusqueda" ng-click="anadirVidrio(resultado)">
                            <td class="">
                                <a class="resul-search">
                                    {{resultado.descripcion}}
                                </a>
                            </td>
                        </tr>
                        <tr class="otrainfo" ng-if="loading">
                            <td class="">
                                <a>
                                    <img class="img-fluid" src="~/img/cargando.gif" />
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="resultadobusqueda.length<1" class="otrainfo">
                            <td>
                                <a>
                                    No hay resultados que mostrar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="row">
                    <table>
                        <tr>
                            <th>Tipo de Vidrio</th>
                            <th>Posición Vertical</th>
                            <th>Posicion Horizontal</th>
                            <th>Extension Vertical</th>
                            <th>Extensión Horizontal</th>
                        </tr>
                        <tr ng-repeat="vidrio in currentcarroceria.vidrios | filter:noEliminado">
                            <td>{{vidrio.descripcion}}</td>
                            <td><input type="number" ng-model="vidrio.posVer" /></td>
                            <td><input type="number" ng-model="vidrio.posHor" /></td>
                            <td><input type="number" ng-model="vidrio.spanVer" /></td>
                            <td><input type="number" ng-model="vidrio.spanHor" /></td>
                            <td><input type="submit" ng-click="eliminarVidrio(vidrio, $index)" /></td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>

                <div class="row">

                </div>
                <div class="row">
                    <div class="col text-right">
                        @*<input type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()" />*@
                        <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>
                        <button class="btn btn-danger" type="submit" value="Guardar cambios" ng-click="cancelarCambios()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


