@{
    ViewData["Title"] = "Tipo de Carrocería";
}


<div class="container " ng-controller="Carrocerias">
    <div class="row">
        <div class="col-12 p-5">
            <h2>Carrocerías</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @*<p>Use this area to provide additional information.</p>*@
            <div class="row mb-4">
                <div class="col-6">
                    
                </div>
                <div class="col-6 text-right">
                    @*<input type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" />*@
                    <button type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" class="btn btn-primary"><i class="fas fa-plus-square"></i> Añadir nuevo tipo de Carrocería</button>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control campo-search " placeholder="Buscar Carrocerías" value="" autocomplete="off" ng-model="buscador" ng-change="cambioBuscador()">
                    <div class="input-group-append">
                        <button class="btn btn-default boton-buscar form-control-sm " type="submit" id="btn_buscar" tabindex="2" ng-click="activarBusqueda()">
                            <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-default boton-buscar form-control-sm btn-right " type="submit" id="btn_buscar" tabindex="2" ng-click="anularBusqueda()">
                            <i class="fas fa-ban"></i>
                        </button>
                    </div>
                </div>
            </div>
           
            <div class="dx-viewport demo-container">
                <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="carroceria" style="width:100% !important;">
                    <div data-options="dxTemplate:{ name:'cellTemplate' }">
                        <img class="img-fluid" ng-src="{{carroceria.value}}" />

                    </div>
                    <div data-options="dxTemplate:{ name:'editTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="modificarCarroceria(carroceria)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>

                    </div>
                    <div data-options="dxTemplate:{ name:'deleteTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="eliminarRegistro(carroceria)" class="btn btn-default btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>

                    </div>

                </div>
            </div>
            <div class="row">
               
                    <div class="col-6 offset-3 mt-3 ">
                        <div class="">
                            <nav class="">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled" id="primera" ng-click="cambiarPagina(this, 'F')">
                                        <a class="page-link"><i class="fa fa-step-backward fa-xs "></i><small style="font-size:72%">Primera</small> </a>
                                    </li>
                                    <li class="page-item" id="anterior" ng-click="cambiarPagina(this, 'P')">
                                        <a class="page-link"><i class="fa fa-caret-left fa-xs "></i> <small style="font-size:72%"> anterior</small></a>
                                    </li>
                                    <li class="page-item" id="siguiente" ng-click="cambiarPagina(this, 'N')">
                                        <a class="page-link"><small style="font-size:72%">siguiente</small>  <i class="fa fa-caret-right fa-xs "></i></a>
                                    </li>
                                    <li class="page-item" id="ultima" ng-click="cambiarPagina(this, 'L')">
                                        <a class="page-link"><small style="font-size:72%">Última</small> <i class="fa fa-step-forward fa-xs "></i> </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> 
               
            </div>

        </div>
    </div>
   @*POPUP EDITAR/CREAR CARROCERIAS*@
    <div dx-popup="popupOptions">
        <div class='popup-property-details' dx-scroll-view="scrollarticulos">
            <div class="row">
                <div class="col-4">
                    <div class="form-group row form-group-sm">
                        <label class="col-12 etiq-form ">NOMBRE CARROCERÍA</label>
                        <div class="col-12">
                            <input type="text" ng-model="currentcarroceria.descripcion" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group ">
                                <label class="">Incluir un tipo de Vidrio a la Carrocería</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control campo-search" ng-blur="focofuera()" ng-focus="entrafoco()" placeholder="Buscar tipo de vidrio" value="" id="busqueda_producto" tabindex="1" autocomplete="off" ng-change="cambiobusqueda()" ng-model="cadena" name="producto">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default boton-buscar form-control-sm btn-right " type="submit" id="btn_buscar" tabindex="2">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="desplegable" style="display:none" id="desplegable" ng-hide="!mostrardesplegable">
                                <table class="tablaresultados">
                                    <tbody>
                                        <tr ng-if="!loading" class="" ng-repeat="resultado in resultadobusqueda" ng-click="anadirVidrio(resultado)">
                                            <td class="">
                                                <a class="resul-search" style="cursor:pointer;">
                                                    {{resultado.descripcion}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="otrainfo" ng-if="loading">
                                            <td class="">
                                                <a>
                                                    <img class="img-fluid" src="~/img/cargando.gif" />
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-show="resultadobusqueda.length<1" class="otrainfo">
                                            <td>
                                                <a>
                                                    No hay resultados que mostrar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <img class="img-fluid d-block mx-auto" style="max-height:40px;" ng-src="{{currentcarroceria.url}}" onerror="this.src='../images/imagen_defect.png'" />
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                       
                                        <div class="col-12 text-center">
                                            <input type="file" id="filesup" ng-file-model="currentcarroceria.files" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">

                </div>


                <div class="col-12">
                    <div class="row">
                        <div class="col-6 " id="style-3" style="max-height:440px;overflow: auto; ">
                            <div class="row">
                                <div class="col-12">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-fixed  table-sm">
                                    <thead>
                                        <tr>
                                            <th class="col-3"><small>Vidrio</small></th>
                                            <th class="col-2"> <small>fila</small></th>
                                            <th class="col-2"><small>Columna</small></th>
                                            <th class="col-2"><small>Ext. filas</small></th>
                                            <th class="col-2"><small>Ext. Columnas</small></th>
                                            <th class="col-1"><small>Borrar</small></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vidrio in currentcarroceria.vidrios | filter:noEliminado">
                                            
                                            <td class="col-3 body-table align-middle"><small>{{vidrio.descripcion}}</small></td>
                                            <td class="col-2 body-table align-middle"><input class="form-posicion" width="5" type="number" ng-model="vidrio.posVer" /></td>
                                            <td class="col-2 body-table align-middle"><input class="form-posicion" width="5" type="number" ng-model="vidrio.posHor" /></td>
                                            <td class="col-2 body-table align-middle"><input class="form-posicion" width="5" type="number" ng-model="vidrio.spanVer" /></td>
                                            <td class="col-2 body-table align-middle"><input class="form-posicion" width="5" type="number" ng-model="vidrio.spanHor" /></td>
                                            <td class="col-1 body-table align-middle"><button class="btn btn-sm btn-default form-control" type="submit" ng-click="eliminarVidrio(vidrio, $index)"><i class="fas fa-trash"></i> </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <input type="submit" ng-click="previsualizarCarroceria()" class="form-control" value="Previsualizar" />
                            <table border="1">
                                <tr ng-repeat="fila in tabla">
                                    <td class="text-center " ng-repeat="celda in fila.celdas" colspan="{{celda.extensionHor}}" rowspan="{{celda.extensionVer}}">
                                        <div class="{{classTieneArticulos(celda)}}">
                                            <img ng-if="NotNull(celda.vidrio)" title="{{celda.vidrio.descripcion}}" ng-src="{{celda.vidrio.url}}" class="img-responsive text-center {{claseestaGris(celda)}}" style="margin:0 auto;" />

                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row" >
                        <div class="col-12">
                            <div class="col text-right">
                                <button class="btn btn-primary " type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()"><i class="fas fa-save"></i> Guardar</button>
                                <button class="btn btn-danger  " type="submit" value="Guardar cambios" ng-click="cancelarCambios()"><i class="fas fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    </div>
</div>
