@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 wrapper-inicio">

            <div class="row align-items-center justify-content-md-center" style="height:500px;">
                <div class="col-8 offset-2 align-self-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="../.." alt="Alternate Text" />
                            Marcas>Modelo</li>
                        <li class="list-inline-item">Tipos de Vehículo</li>
                        <li class="list-inline-item">Carrocerías</li>
                        <li class="list-inline-item">Tipos de Vidrio</li>
                        <li class="list-inline-item">Artículos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
