@{
    ViewData["Title"] = "Tipo de Vidrios";
}


<div class="container-fluid " ng-controller="TiposVidrio">
    <div class="row">
        <div class="col-12 p-5">
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @*<p>Use this area to provide additional information.</p>*@
            <div class="row mb-4">
                <div class="col-6">
                    <div class="dataTables_wrapper">
                        <div class="dataTables_paginate" style="float:left">
                            <ul class="pagination">
                                <li class="page-item" id="primera" ng-click="cambiarPagina(this, 'F')">
                                    <a class="page-link"><i class="fa fa-step-backward "></i> Primera</a>
                                </li>
                                <li class="page-item" id="anterior" ng-click="cambiarPagina(this, 'P')">
                                    <a class="page-link"><i class="fa fa-caret-left "></i> anterior</a>
                                </li>
                                <li class="page-item" id="siguiente" ng-click="cambiarPagina(this, 'N')">
                                    <a class="page-link"> siguiente <i class="fa fa-caret-right "></i></a>
                                </li>
                                <li class="page-item" id="ultima" ng-click="cambiarPagina(this, 'L')">
                                    <a class="page-link">Última <i class="fa fa-step-forward "></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="col-6 text-right">
                    @*<input type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" />*@
                    <button  type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" class="btn btn-primary"><i class="fas fa-plus-square"></i> Añadir nuevo Tipo</button>
               </div>
            </div>
                <div class="dx-viewport demo-container">
                    <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="vidrio" style="width:100% !important;">
                        <div data-options="dxTemplate:{ name:'cellTemplate' }">
                            <img class="img-fluid" ng-src="{{vidrio.value}}" />

                        </div>
                        <div data-options="dxTemplate:{ name:'editTemplate' }">

                            @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                            <button type="submit" ng-click="modificarVidrio(vidrio)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>

                        </div>

                    </div>
                </div>
           
        </div>
    </div>
   
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="form">
                <div class="form-group">
                    <label>Descripción </label>
                    <div class="col-12">
                        <input type="text" ng-model="currentvidrio.descripcion" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">Descripción del tipo de vidrio</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid d-block mx-auto" src="~/images/imagen_defect.png" />
                    </div>
                    <div class="col-12">
                         <hr />
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Sube una imagen del Tipo de Vidrio</label>
                            <div class="col-12 text-center">
                                <input type="file" id="filesup" ng-file-model="currentvidrio.files" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col text-right">
                        @*<input type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()" />*@
                        <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


