@{
    ViewData["Title"] = "Tipo de Vidrios";
}


<div class="container " ng-controller="TiposVidrio">
    <div class="row">
        <div class="col-12 p-5">
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Use this area to provide additional information.</p>
            <div class="col-12">
                <input type="submit" value="Añadir Nuevo" ng-click="crearRegistro()" />
                
            </div>
            <div >
                <div class="dx-viewport demo-container">
                    <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="vidrio">
                        <div data-options="dxTemplate:{ name:'cellTemplate' }">
                            <img class="img-fluid" ng-src="{{vidrio.value}}" />
                           
                        </div>
                        <div data-options="dxTemplate:{ name:'editTemplate' }">
                            
                            <input type="submit" ng-click="modificarVidrio(vidrio)" />

                        </div>
                        <div data-options="dxTemplate: {name: 'detail'}">
                            <div class="master-detail-caption"></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" ng-model="vidrio.data.descripcion" class="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="submit" value="Guardar cambios" ng-click="guardarCambios(vidrio.data)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="row">
                <div class="col-12">
                    <h3>Añadir Nuevo Tipo de Vidrio</h3>
                </div>
            </div>
            <div class="form">
                <div class="form-group">
                   
                        <label>Descripción </label>
                        <div class="col-12">
                            <input type="text" ng-model="currentvidrio.descripcion" class="form-control" />
                            <small id="emailHelp" class="form-text text-muted">Descripción del tipo de vidrio</small>
                        </div>
                        
                   
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="file" ng-file-model="currentvidrio.files" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


